.form-container {
	padding: 1rem;
	border-bottom: 2px solid black;
	box-sizing: border-box;
}

.form {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2rem;
}

.form > * {
	min-width: 40%;
	flex: 1;
}

label {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

input {
	margin-top: 0.5rem;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	box-sizing: border-box;
	font-size: 1.5rem;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	outline: 0;
	padding-left: 0.75rem;
	transition: all linear $trans-time;
}

input:hover {
	background-color: lighten($siteteal, 10%);
}

input:focus {
	border-color: darken($sitepeach, 10%);
	background-color: $siteteal;
}

.submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: lighten($sitepeach, 10%);
	border-color: darken($sitepeach, 20%);
	transition: background-color linear $trans-time;
}

.submit:hover {
	background-color: $sitepeach;
}

.submit:active {
	background-color: darken($sitepeach, 10%);
}

.cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color linear 0.5s;
}

.cover-fade {
	background-color: rgba(255, 255, 255, 0.5);
} 

.modifier {
	position: relative;
	width: 50%;
	left: 25%;
	top: 30%;
	background-color: white;
	opacity: 0;
	z-index: 1;
	padding: 1rem;
	box-sizing: border-box;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border: 3px solid black;
	transition: opacity linear 0.5s;
}

.fade {
	opacity: 1;
}

@media (max-width: 1023px) {
	.modifier {
		left: 10%;
		width: 80%;
	}
}

@media (max-width: 767px) {
	label {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	input {
		font-size: 1rem;
		margin-top: 0.25rem;
	}

	.modifier {
		width: 95%;
		left: 2.5%;
	}
}
