.table-container {
	overflow-y: scroll;
	border-bottom-left-radius: 25px;
	max-height: 450px;
	flex: 1;

	// firefox
	scrollbar-width: thin;
	scrollbar-color: $sitepeach transparent;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	mask-image: radial-gradient(white, black);
}

/* Works on Chrome/Edge/Safari */
.table-container::-webkit-scrollbar {
	width: 5px;
}
.table-container::-webkit-scrollbar-track {
	background: transparent;
}
.table-container::-webkit-scrollbar-thumb {
	background-color: $sitepeach;
	border-radius: 20px;
}

@media (max-width: 767px) {
	.table-container {
		max-height: 350px;
	}
}

.table-title {
	padding: 1rem;
}

.row {
	border-top: 1px solid black;
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.row:nth-child(odd) {
	background-color: lighten($siteteal, 15%);
}

.row-data {
	padding: 1rem;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.row-data > * {
	margin-bottom: 1rem;
	flex: 1;
	min-width: 40%;
}

@media (max-width: 767px) {
	.row-data {
		font-size: 0.8rem;
		column-gap: 1.5rem;
		padding-bottom: 0.5rem;
	}
}

.row-buttons {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 60px;
}

.row-button {
	flex: 0;
	width: 50%;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: border linear 0.1s;
}

.row-button:hover {
	border: 2px solid black;
}

.row-button:active {
	background-color: $sitepeach;
}
