$trans-time: 0.1s;

@import "reset";
@import "Form";
@import "Table";

body {
	height: 100vh;
	background: linear-gradient(to top, rgb(240, 163, 163), rgb(155, 218, 218));
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

#root {
	border: 3px solid black;
	background-color: white;
	width: 50%;
	min-width: 250px;
	box-sizing: border-box;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 5px 5px 4px #7c6d6d;
}
