.table-container {
    padding: 1rem;
}

.row {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.row:nth-child(odd) {
    background-color: rgb(250, 166, 166);
}

.row > * {
    flex: 1;
    min-width: 50%;
}

.delete-button {
    border: 2px solid black;
}

.delete-button:active {
    background-color: black;
}